.footer-container {
  display: flex;
  justify-content: center;
  align-items: start; 
  padding: 20px;
  gap: 40px;
  background-color: rgb(127, 127, 127, 0.4);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.oka-hours {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.oka-phone-number,
.oka-email {
  color: rgb(225, 0, 0);
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }
}
